@font-face {
    font-family: statisfy;
    src: url("./assets/Satisfy-Regular.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(192, 255, 245);
}
a{
    text-decoration: none;
}

.input-model-container{
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.meal-question {
    max-width: 900px;
    margin: 2rem auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.meal-question h1 {
    color: #333;
}
#submit-form {
    display: flex;
    text-align: center;
    justify-content: center;
}
#search-box {
    /* margin: 3rem auto; */
    width: 80%;
    padding: 1rem 6rem;
    font-size: 1.8rem;
    border: 1px solid #fff;
    border-top-left-radius: 18px;
    border-bottom-left-radius:18px;
    outline: none;
    color: #777;
    border-right: 0;
    font-family: statisfy;
}
#search-btn {
    border: 1px solid #fff;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    padding: 1rem;
    cursor: pointer;
    
    border-left: 0;
}
#search-btn:hover {
    background-color: #333;
    color: #fff;
}
#search-btn:focus {
    outline: none;
}
#random-btn {
    border: 1px solid #fff;
    border-radius: 18px;
    padding: 1rem;
    cursor: pointer;
    margin: 0 1rem;
    background-color: #333;
    color: #fff;
    position: relative;
}
.random-btn-tooltip{
    position: absolute;
    right: -16.3rem ;
    top:0;
    color: rgb(255, 29, 29);
    background-color: rgb(255, 251, 37);;
    padding: 1rem 2rem;
    border-radius: 22px;
    font-size: 1.2rem;
    display: none;
}
#random-btn:hover {
    background-color: rgb(255, 251, 37);
    color: rgb(255, 29, 29);
}
#random-btn:focus {
    outline: none;
}
#random-btn:hover .random-btn-tooltip{
   
    display: block;
}

/*! Meal section Start*/
.show-meal-container{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: #fff 2px solid;
    display: none;
}
.search-title{
    padding-bottom: 2rem ;

}
.search-title span {
    color: red;
}
.img-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.img-div-container{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 0;
    border: 1px solid #fff;
    background-color: rgba(219, 255, 249, 0.89);
    border-radius: 14px;
    color: #fff;
}
.meal-info-title{
    text-align: center;
    margin-top: 1.2rem ;
    color: #555;
    cursor: pointer;
    padding: 0 5px;
}
.img-container img {
    width: 12rem;
    border: 1px #fff solid;
    border-radius: 14px;
    /* cursor: pointer; */
    margin: 0 auto;
}
/*! Meal section End  */

/*? single-meal-container start  */
.single-meal-container{
    padding: 4rem 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.single-img-container {
    padding: 2rem 0;
    text-align: center;
}
.single-img-container img {
   
    /* border: 2px solid #fff; */
    border-radius: 10px;
    max-width: 85%;
}


.category-container{
    display: flex;
    justify-content: start;
    padding: 1rem 0;
    color: #777;
    
   
}
.category-item {
   
    text-align: left;
    font-size: 1rem;
    margin: 0 1rem;
}
.category-nationality{
    text-align: left;
    font-size: 1rem;
    margin: 0 1rem 0 1.7rem;
}
.instructon-title{
    text-align: center;
    padding: 1rem 0;
    color: rgb(255, 255, 255);
    background-color: #444;
    /* border-bottom: #777 2px solid; */
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.instructon-title:hover {
    color: rgb(255, 55, 55);
}
.instructon-container{
    max-width: 85%;
    text-align: center;
    padding: 0 0 2rem 0 ;
    font-size: 1.4rem;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.instructon-data{
    line-height: 1.9;
    font-size: 1.6rem;
    padding: 2rem;
    border: 2px solid #777;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius:19px;
    border-top: none;
    background-color: rgba(219, 255, 249, 0.514);
    color: #333;
}
/*? single-meal-container end  */
/*> ingredients start  */
.ingredients-container{
    max-width: 85%;
}
.ingredients-title{
    font-weight: bold;
    font-size: 2.4rem;
    padding: 1.2rem 0;
    text-align: center;
    margin-top: 2rem;
    color: rgb(255, 255, 255);
    background-color: #444;
    /* border-bottom: #777 2px solid; */
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
.ingredients-title:hover {
    color: rgb(255, 55, 55);
}
.ingredients{
    padding: 2rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid #777;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius:19px;
    border-top: none;
    background-color: rgba(219, 255, 249, 0.514);
    color: #333;
}
.ingredient-item{
    background-color: #444;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
    border-radius: 25px;
    margin:  1rem;
    cursor: pointer;
}
.ingredient-item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(250, 76, 76);
}
/*> ingredients end  */
@media (max-width:1600px) {
    .img-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        padding: 0 10px;
    }

}
@media (max-width:1160px) {
    .random-btn-tooltip{
        position: absolute;
        right: -1rem ;
        
        top:5rem;
        color: rgb(255, 29, 29);
        background-color: #fff;
        padding: 1rem 1.4rem;
        border-radius: 22px;
        font-size: 1.1rem;
        display: none;
    }
}
@media (max-width:900px) {
    .meal-question {
        margin: 1rem auto;
    }
    #search-box {
       
        width: 80%;
        padding: 0.8rem 3.5rem;
        font-size: 1.1rem;
        border: 1px solid #fff;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        outline: none;
        color: #777;
    }
    #search-btn {
        /* margin: 2rem 0; */
        padding: 0.8rem;
       align-items: center;
    }
    #random-btn {
       
        padding: 0.8rem;
        cursor: pointer;
      
    }
}
@media (max-width:845px) {
    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .single-img-container img {
        border-radius: 10px;
        max-width: 25rem;
    }
}

@media (max-width:670px) and (min-width:485px) {
    .meal-question {
        max-width: 900px;
        margin: 1rem auto;
        text-align: center;
    }
    #search-box {
      
        width:80%;
        padding: 1rem 3rem;
        font-size: 1.3rem;
        border: 1px solid #fff;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        outline: none;
        color: #777;
    }
    /* #search-btn {
      
        padding: 0.8rem;
       
    }
    #random-btn {
       
        padding: 0.8rem;
        cursor: pointer;
      
    } */
}
@media (max-width:580px) {
    .instructon-title {
        font-size: 1.7rem;   
    }
    .ingredients-title {
        font-size: 1.7rem;  
    }
    .ingredient-item{
        
        font-size: 1.2rem;
        padding: 1rem 1.6rem;
        border-radius: 25px;
        margin:  1rem;
    }
    .instructon-container{
        max-width: 95%;
        text-align: center;
        padding: 0 0 2rem 0 ;
        font-size: 1.4rem;
        line-height: 1.7;
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }
    .ingredients-container{
        max-width: 95%;
    }
}
@media (max-width:484px) {
   
    .meal-question h1 {
        font-size: 1.5rem;
    }
    #search-box {
        margin-left: 5px;
        width: 95%;
        padding: 0.8rem 1.5rem;
        font-size: 0.9rem;
   
    }
    .img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .single-img-container img {
        
        border-radius: 10px;
        max-width: 20rem;
    }
    .ingredient-item{
        
        font-size: 1.0rem;
        padding: 1rem 1.6rem;
        border-radius: 25px;
        margin:  1rem;
    }
}
@media (max-width:375px) {
    .search-title{
        padding-bottom: 2rem ;
        font-size: 1.6rem;
    }
}
@media (max-width:328px) {
    #search-box {
        margin-left: 5px;
        width: 97%;
        padding: 0.8rem 1.0rem;
        font-size: 0.9rem;
   
    }
    .search-title{
        padding-bottom: 2rem ;
        font-size: 1.3rem;
    }
    .single-img-container img {
        border-radius: 10px;
        max-width: 15rem;
    }
}
@media (max-width:250px) {
    .single-img-container img {
        border-radius: 10px;
        max-width: 11rem;
    }
}